<% include ./header.ejs %>
<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <form action="" method="post" id="join_form">

        <div style="margin-top: 10px">
            <a href="/auth/facebook" class="btn btn-lg btn-primary btn-block">
                <i class="fa fa-facebook" aria-hidden="true"></i> 페이스북으로 회원가입
            </a>
        </div>
    </form>
    </div>
    <div class="col-lg-4"></div>
</div>
</body>
</html>