<% include ./header.ejs %>
<div class="jumbotron" style="bbackground-image : url('background.jpg')">
    <h1 class="text-center" style="color : white">이재권님의 홈페이지에 오신 것을 환영합니다</h1>
    <p class="text-center" style="color : white">다양한 음악 및 사진을 감상 하실 수 있습니다</p>
</div>
</body>
</html>